<!-- index template -->

{% extends "layout.html" %}

{% block body %}

<p>
  Welcome to the Blue Team Website!
  Here you can transfer credits to other users.
  Credits are absolutely worthless because you can simply add credits to your account for no cost.
</p>

{% if "username" in session %}

  <b>Add Credits</b>
  <form action="/addCredits" method="POST">
    <input type="number" name="amount" placeholder="Amount">
    <input type="submit" value="Add">
  </form>

  <br/>

  <b>Transfer Credits</b>
  <form action="/transferCredits" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="number" name="amount" placeholder="Amount">
    <input type="submit" value="Transfer">
  </form>

{% else %}

  <p>But in order for you to do this, you need to <a href="{{ url_for('register') }}">register</a> an account.</p>

{% endif %}

{% endblock %}
