<!-- Login Template -->

{% extends "layout.html" %}

{% block body %}
  {% if session['logged_in'] %}
    <p>You're logged in already!</p>

  {% else %}
    <form action="/login" method="POST">
      <div class="coen351">
        Username: <input type="username" name="username" placeholder="Username"/>
      </div>
      <div class="coen351">
        Password: <input type="password" name="password" placeholder="Password"/>
      </div>
      <input type="submit" value="Log In">
    </form>

    <br/>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
  {% endif %}
{% endblock %}
