<!-- New user registration template -->

{% extends "layout.html" %}

{% block body %}
  {% if session['logged_in'] %}
    <p>You're logged in already!</p>

  {% else %}
    <h3>Password Requirements:</h3>
    <ul>
      <li>Must be at least 8 characters long</li>
      <li>Must contain at least one uppercase character</li>
      <li>Must contain at least one lowercase character</li>
      <li>Must contain at least one digit</li>
      <li>Must contain at least one special character (~!@#$%^&amp;*_\-+=`|(){}[]:;"\'&lt;&gt;,.?\])</li>
    </ul>
  
    <form action="/register" method="POST">
      <div class="coen351">
        Username: <input type="username" name="username" placeholder="Username"/>
      </div>
      <div class="coen351">
        Password: <input type="password" name="password" placeholder="Password"/>
      </div>
      <div class="coen351">
        Confirm Password: <input type="password" name="confirm" placeholder="Confirm Password"/>
      </div>
      <div class="coen351">
        First Name: <input type="text" name="firstName" placeholder="First Name"/>
      </div>
      <div class="coen351">
        Last Name: <input type="text" name="lastName" placeholder="Last Name"/>
      </div>

      <input type="submit" value="Submit">
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a>
  {% endif %}
{% endblock %}
